body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 10px 20px 20px 5%;
  max-width: 1000px;
}
a {
  color: #00B;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  cursor: pointer;
}
table {
  width: 100%;
  border-collapse: collapse;
  font-size: 0.9em;
  white-space: nowrap;
}
table .title {
  white-space: normal;
  word-break: break-word;
}
tr:nth-child(even) {
  background: #e9e9e9;
}
tr:nth-child(even) td {
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
}
td, th {
  border-right: 1px solid #e9e9e9;
  border-left: 1px solid #e9e9e9;
  padding: 4px;
}
th {
  font-size: 1.1em;
  text-align: left;
  border: 1px solid #e9e9e9;
}
td {
  max-width: 665px;
  line-height: 1.4em;
  vertical-align: top;
}
#maintable {
  border: 1px solid #e9e9e9;
}
#moreresultsbutton {
  display: none;
  width: 100%;
  padding: 5px;
  margin: 5px 0;
  cursor: pointer;
}
pre {
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 0.8em;
  margin: 0;
  background: #fff;
  white-space: pre-wrap;
}
.color1080p {
  color: Magenta;
}
.colorx265, .color2160p, .colorflac {
  color: Red;
}
.tag {
  float: right;
  text-shadow: -1px 0 LawnGreen, 0 1px LawnGreen, 1px 0 LawnGreen, 0 -1px LawnGreen;
}
